<%- include('./includes/header.ejs') %>
</head>

<body>
  <header>
      <%- include('./includes/navbar.ejs') %>

      <div class="p-5 text-center bg-light" style="margin-top: 58px">
        <h1 class="my-1 h4">500 Server error</h1>
      </div>
  </header>

  <!-- Main Section   -->
  <main class="my-4">
      <div class="container" >

        <p class="text-center lead">There was an error. Please try again later.</p>     
        
     
      </div>
      
  </main>
  <!-- Main Section   -->

    <%- include('./includes/footer.ejs') %>

    
</body>
</html>
