.banner {
    background-image: url('/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.banner-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: 0.3;
    z-index: -1;
}

.bg-semi {
    background-color: rgb(255, 255, 255, 0.9);
}

.image-preview {
    width: 4rem;
}

.article-thumb {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    
}

/* article page */

.article-image {
    max-height: 400px; 
    width: 100%; 
    object-fit: cover;
}


.author-box__image {
    align-self: flex-start;
}

@media screen and (max-width: 768px) {
    .author-box__image {
        border-radius: 50% !important;
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-bottom: 1rem;
    }

    .author-box__text {
        text-align: center;
    }
}